Jinja2==2.7.1
MarkupSafe==0.18
Pygments==2.7.4
Sphinx==1.2b3
beautifulsoup4==4.3.2
cssselect==0.9.1
docutils==0.11
ecdsa==0.10
fudge==0.9.6
ipdb==0.8
ipython==1.1.0
nose==1.3.0
-e git+https://github.com/paramiko/paramiko@a9a5f69c1affae60fd3c390927e0389325f719a1#egg=paramiko-dev
pycrypto==2.6.1
releases==0.2.4
-e git+https://github.com/bitprophet/rudolf@f4adb6b7b4de20ef621bfd44a1a24ea737177d6a#egg=rudolf-dev
sh==1.09
wsgiref==0.1.2
